<template>
    <div class="container">
        <div class="form-group">
            <h3 class="mt-2 mb-3 float-left text-primary">Agenda</h3>
            <DataTable :value="agendas" tableStyle="min-width: 50rem" showGridlines stripedRows>
                <Column field="Nome" header="Nome" key="col.Id"></Column>
                <Column field="Email" header="Email"></Column>
                <Column field="Telefone" header="Telefone"></Column>
            </DataTable>
        </div>
    </div>
</template>

<script>
    const headers = {
        'Authorization': `Bearer ${localStorage.getItem('token')}`,
        'Content-type': 'application/json'
    };

    import { EventBus } from '../main.js';
    import DataTable from 'primevue/datatable';
    import Column from 'primevue/column';

    export default {
        components: [
            DataTable,
            Column
        ],
        data() {
            return {
                agendas: [],
                showModal: false
            }
        },
        async created() {
            await fetch(`https://localhost:44391/blue/Agenda/GetAll?ID=${localStorage.getItem('id')}`, {
                    method: 'GET',
                    headers: headers
                })
                .then(response => response.json())
                .then(data => {
                    this.agendas = data;
                }
            )
            .catch(err => {
                console.error(err);
            });
        },
        methods: {
            async deleteAgenda(id) {
                await fetch(`https://localhost:44391/blue/Agenda/Delete?ID=${id}`, {
                    method: 'DELETE',
                    headers: headers
                })
                .then((response) => response.json())
                .catch((err) => {
                    console.error(err);
                });
            },
            emitShowModal(agenda) {
                this.agenda = agenda;
                EventBus.$emit('click', this.showModal, this.agenda);                
            }
        }
    }
</script>

<style scoped>
    th {
        padding-left: 1.2rem;
    }
</style>
