<template login>
    <div class="container">
        <div class="form-todo form-group">
            <h3 class="mt-2 mb-3 float-left text-primary">Login</h3>
            <form>
                <div class="form-outline mb-4 col-4">
                    <input type="email" id="nome" class="form-control" v-model="emailLogin" required />
                    <label class="form-label" for="nome">Login ou Email</label>
                </div>

                <div class="form-outline mb-4  col-4">
                    <input type="password" id="senha" class="form-control" v-model="passwordLogin" required />
                    <label class="form-label" for="senha">Senha</label>
                </div>

                <button type="button" class="btn btn-primary btn-block mb-4" v-on:click="acessar()">Acessar</button>
            </form>
        </div>
    </div>
</template>

<script login>
    export default {
        components: [
            
        ],
        data() {
            return {
                emailLogin: "",
                passwordLogin: "",
                json: null
            }
        },
        methods: {
            async acessar() {
                if (this.emailLogin.trim() === "" || this.passwordLogin.trim() === "") {
                    this.$swal( {icon: 'error', title: 'Ops', html: 'Usuário e/ou senha inválidos' });
                    return;
                }

                await fetch(`https://localhost:44391/blue/Login/CheckLogin`, {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ 
                        Login: this.emailLogin,
                        Password: this.passwordLogin
                    })
                })
                .then(response => response.json())
                .then(aJson => {
                    this.json = aJson;
                    if (!this.json.IsSucess) {
                        this.$swal( {icon: 'error', title: 'Ops', html: this.json.ErrorMessage });
                        return;
                    }
                    else {
                        localStorage.setItem('id', this.json.ID);
                        localStorage.setItem('token', this.json.TOKEN);
                        this.$router.push('/agendas');
                    }
                })
                .catch((err) => {
                    console.error(err);
                });
            },
        }
    }
</script>
